<a href="https://colab.research.google.com/github/helah20/Python/blob/main/Assignment_P6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas DataFrames

In [3]:
import pandas as pd

dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa","Saudi Arabia"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria", "Ryadh"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221,2.15],
       "population": [200.4, 143.5, 1252, 1357, 52.98,33.7] }

brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98
5  Saudi Arabia      Ryadh   2.150       33.70

In [4]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA", "KSA"]

# Print out brics with new index values
print(brics)

          country    capital    area  population
BR         Brazil   Brasilia   8.516      200.40
RU         Russia     Moscow  17.100      143.50
IN          India  New Dehli   3.286     1252.00
CH          China    Beijing   9.597     1357.00
SA   South Africa   Pretoria   1.221       52.98
KSA  Saudi Arabia      Ryadh   2.150       33.70

### Indexing DataFrames

In [6]:


# Print out capital column as Pandas Series
print(brics['capital'])

# Print out country column as Pandas DataFrame
print(brics[['country']])

# Print out DataFrame with Area and Country columns
print(brics[['area', 'country']])

BR      Brasilia
RU        Moscow
IN     New Dehli
CH       Beijing
SA      Pretoria
KSA        Ryadh
Name: capital, dtype: object
          country
BR         Brazil
RU         Russia
IN          India
CH          China
SA   South Africa
KSA  Saudi Arabia
       area       country
BR    8.516        Brazil
RU   17.100        Russia
IN    3.286         India
CH    9.597         China
SA    1.221  South Africa
KSA   2.150  Saudi Arabia

In [8]:
# Print out first 4 observations
print(brics[0:4])

# Print out fifth and sixth observation
print(brics[4:6])

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Dehli   3.286      1252.0
CH   China    Beijing   9.597      1357.0
          country   capital   area  population
SA   South Africa  Pretoria  1.221       52.98
KSA  Saudi Arabia     Ryadh  2.150       33.70

In [10]:
# Print out observation for India
print(brics.country[2])

# Print out observations for China and Russia
print(brics.loc[['CH', 'RU']])

India
   country  capital    area  population
CH   China  Beijing   9.597      1357.0
RU  Russia   Moscow  17.100       143.5